@media (max-width: 320px){
		
		.service .hotleft{width:48%;line-height:2.43rem;}
		.service .loginright{zoom:.7;width:37%;}
		.service ul{padding:5% 0;}
		.service ul a{padding:8%;}
		.service .hotleft span{font-size:.5rem;}
		.Nav-wrap *{font-size:1rem;}
		.Nav-wrap p{padding:2%;}
		.Nav-wrap .tree{
			padding:5.1%;
			background:url("../img/tast10/sprite1.png") no-repeat scroll -386px 30px;
			zoom:35%;
		}
		.bl{
			font-size:35px;
			top:23px;
			left:32px;
		}
		.br{
			font-size:35px;
			top:23px;
			right:32px;
		}
		.banner div{top:83px;width:2%;height:5%;border-radius:5px;}
	 	.bradius1{
			left:41%;
		}
		.bradius2{
			left:44%;
		}
		.bradius3{
			left:47%;
		}
		
		
		.content h2{font-size:1.6rem;margin-bottom:3%;}
		.content .tab{
			width:49%;
			margin-right:1%;
			margin-top:3%;
		}
		.content .tab{
			zoom:35%;
		}
		.content .tab p{font-size:1rem;}
	
		.content .tabr{
				padding-left:0;padding-top:6%;padding-bottom:5%;
			}
			.content .tabr h2{
				background:url("../img/tast10/sprite.png") no-repeat scroll 42px -128px;
				font-size:1.6rem;
			}
			.content tabr p{font-size:1rem;}
		
		.content .tab2 ul li{margin-top:0;height:55px;}
		.content .tab2 span{
			width:45px;
			line-height:40px;
			margin-right:1rem;
		}
		.content .tab2 p{
			line-height:20px;
		}
		.content .tab2 .tab2-list{
			padding-left:10%;
		}
		.content .tab2 .tab2-list2{
			background:url("../img/tast10/sprite.png") no-repeat scroll -474px -349px;
			padding-left:10%;
		}
		.content .tab2 .tab2-list3{
			background:url("../img/tast10/sprite.png") no-repeat scroll -474px -349px;
			padding-left:10%;
		}
		.content .tab3{
			margin:2% 24%;
			width:51%;
		}
		.content .tab3 p{
			font-size:1rem;
			width:65%;
			margin:0 12%;
			padding-top:63%;
			zoom:.6;
			background:url("../img/tast10/sprite.png") no-repeat scroll -130px -150px;
		}
		.content .tab3 span{
			font-size:1rem;
			padding:1% 2%;
		}
		.content .tab4-list{
			background:url("../img/tast10/sprite.png") no-repeat scroll -355px -91px;
			padding:11% 19%;
		}
		.footer .footerMain .fMleft{width:70%;}
		.footer .footerMain .fMmid{width:77%;margin-left:0;}
		.footer .footerMain .fMright{width:40%;float:left;}
		.footer .ICP-top{width:100%;}
		
	}